@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-slate-grey: rgb(36, 39, 66);
  --charcoal-grey: rgb(54, 56, 78);
  --grey: rgb(146, 148, 160);
  --white: hsl(0, 0%, 100%);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

body {
  background-color: var(--charcoal-grey);
  font-family: 'Roboto';
  max-height: 100vh;
  overflow: hidden;
}

.attribution {
  display: none;
}

.template_background {
  content: '';
  width: 1440px;
  height: 100%;
  margin: -13.7rem auto;
  transform: translateX(-50%);
  left: 50%;
  padding: 0;
  position: fixed;
  background: url('../../design/desktop-design.jpg');
  background-size: 100%;
  z-index: -1;
}

main {
  max-width: 928px;
  max-height: 640px;
  margin: 13.7rem auto 0;
  background-color: var(--white);
  border-radius: 2rem;
  display: flex;
  opacity: 0.6;
  padding: 1.5rem;
  column-gap: 1rem;
}

main article,
main .right-image {
  flex: 1;
}

main .right-image {
  max-width: 400px;
}

h1 {
  margin-top: 2rem;
  font-size: 3.6rem;
  color: var(--dark-slate-grey);
  padding: 2rem 2.4rem 1.3rem 2.4rem;
  letter-spacing: -0.6px;
}

article p {
  padding: 0 1.5rem 0 2.4rem;
  line-height: 1.5;
  display: inline-block;
}

article ul {
  padding-top: 1.15rem;
  padding-left: 2.4rem;
}

article ul li {
  display: inline-flex;
  align-items: center;
}

article ul li p {
  padding: 0 0 0 1rem;
  line-height: 2.1;
}

article ul li img {
  max-width: 1.25rem;
  display: inline-block;
}

article p.email {
  margin-top: 2.2rem;
  font-size: 0.75rem;
  padding-left: 2.5rem;
}

article input.email {
  display: block;
  margin-top: 0.5rem;
  margin-left: 2.5rem;
  margin-bottom: 1.5rem;
  padding-left: 1.3rem;
  width: 81%;
  height: 3.5rem;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid grey;
  font-size: 1.05rem;
}

article .btn {
  font-size: 1rem;
  background-color: var(--charcoal-grey);
  color: var(--white);
  padding: 1.15rem 4.6rem;
  border-radius: 0.5rem;
  margin-left: 2.5rem;
}
